
.wordle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    .board{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .25rem;
    }

    .row{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .25rem;
    }

    .Toastify__toast-container--top-center {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
